
nav.navbar.navbar-expand-lg.navbar-dark.bg-inverse
  a.navbar-brand(href='/') Layers of Life
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/food') Food
      li.nav-item
        a.nav-link(href='/travel') Travel
      li.nav-item
        a.nav-link(href='/gryffin') Gryffin
      li.nav-item
        a.nav-link(href='/movies') Movies
    ul.navbar-nav.float-right
    if currentUser
      div
        li.nav-item
          // a.nav-link(href='/login') Logout
          a.btn.btn-light.pull-md-right(href='/logout') Log out



