extends layout

block content
  h1 User List
  ul
    script.
      var list = '';
      var userlist = #{userlist};
      for (i = 0; i < userlist.length; i++) {
        console.log(list);
        list += '<li><a href="mailto:' + userlist[i].email + '">' + userlist[i].username + '</a></li>';
        }
      console.log(list);

